:root {
  --main-color: rgba(160, 220, 198, 1);
  --hover-color: rgba(160, 220, 198, 0.85);
  --bg-color: #ffffff;
  --black: #000000;

  --primary-color: rgba(102, 16, 242, 1);
  --primary-hover-color: rgba(102, 16, 242, 0.9);

  --color-icon: #535c68;
  --instgarm: #e4405f;
  --facebook: #3b5999;
  --github: #222222;
  --youtube: #cd201f;
  --linkedin: #0077b5;
}

.btn,
input {
  outline: none !important;
}

/* ######### NAVBAR STYLING ######### */

.navbar {
  background-color: var(--bg-color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.navbar .btn {
  border-color: var(--primary-color);
  padding: 8px 30px;
}

.navbar .btn-primary {
  background-color: var(--primary-color);
}
.navbar .btn-primary:hover {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.navbar .btn-outline-primary {
  background-color: var(--bg-color);
  color: var(--primary-color);
}
.navbar .btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

/* ######### MAIN SECTION STYLING ######### */

.main-section {
  color: var(--bg-color);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://source.unsplash.com/1600x900/?restaurants,food") no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 92vh;
}

.intro-text h1 {
  color: var(--bg-color);
  font-size: 85px;
  letter-spacing: 7px;
  margin-bottom: 55px;
}

.intro-text h1 span {
  color: var(--main-color);
}

.intro-text p {
  color: var(--bg-color);
  font-size: 35px;
  font-weight: 300;
  line-height: 35px;
  letter-spacing: 3px;
  margin-bottom: 55px;
}

.intro-text .btn-primary {
  border: none;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 13px 30px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.intro-text .btn-primary:hover {
  border-radius: 50%;
  background-color: var(--hover-color);
}

.intro-text .btn-primary div {
  transition: transform 0.3s;
}

.intro-text .btn-primary:hover div {
  transform: translateX(-6px);
}
.intro-text .btn-primary i {
  opacity: 0;
  font-size: 15px;
  transition: 0.3s;
  position: absolute;
  right: 9px;
  top: 21px;
  transition: transform 1;
}
.intro-text .btn-primary:hover i {
  opacity: 1;
  transform: translateX(-6px);
}

/* ######### ABOUT AND CONTACT STYLING ######### */

.about-section .image,
.contact-section .image {
  width: 600px;
  text-align: center;
  color: var(--bg-color);
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-section .image {
  height: 350px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://source.unsplash.com/600x350/?drinks,food") no-repeat;
}

.about-section .image h2 {
  font-size: 70px;
}

.contact-section .image {
  height: 450px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://source.unsplash.com/600x450/?mail,contact") no-repeat;
}

.contact-section .btn-primary {
  border: none;
  padding: 8px 25px;
  color: var(--black);
  background-color: var(--main-color);
  border-radius: 5px;
  margin-top: 5px;
}

.contact-section .btn-primary:hover {
  background-color: var(--hover-color);
}

.contact-section .image .box .icon {
  font-size: 25px;
  color: var(--black);
  background-color: var(--main-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.contact-section .image .box p {
  color: var(--main-color);
}

/* ######### HOME PAGE FOOD ITEMS SECTION STYLING ######### */

.food-items {
  background-color: var(--main-color);
}

.food-items .items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-items: center;
}

.food-items .items .more {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--bg-color);
  color: var(--main-color);
  font-size: 40px;
  cursor: pointer;
  text-decoration: none;
}

.food-items .items .more i {
  transition: all 0.3s ease-in-out;
}

.food-items .items .more:hover i {
  transform: translateX(10px);
}

/* ######### FOOD ITEM CARD STYLING ######### */

.card {
  background-color: var(--bg-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.card .card-body {
  padding: 16px 0 0 0;
}

.card img {
  border-radius: 5px;
}

.card .card-body .badge {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

/* ######### FOOTER STYLING ######### */

.footer {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.footer .links,
.footer .social-media {
  /* background-color: yellow; */
  flex: 1;
  margin: 10px;
  align-self: flex-start;
}
.footer .author {
  flex: 1.5;
  margin: 10px;
  align-self: flex-start;
}

.footer .author .profile {
  padding: 15px;
  width: 100%;
  color: var(--black);
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.footer .author .profile .profile-img {
  width: 50%;
  height: 100%;
  border-radius: 5px;
  margin: 0 15px 10px 0;
}

.footer .author .profile .profile-body .btn-outline-primary {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.footer .author .profile .profile-body .btn-outline-primary:hover {
  color: var(--bg-color);
  background-color: var(--primary-color);
}

.footer .links ul li .link {
  text-decoration: none;
  color: var(--primary-color);
  padding: 0 10px;
}

.social-media .icon-list {
  width: 50%;
}

.social-media .icon-link {
  display: inline-flex;
  font-size: 25px;
  text-decoration: none;
  color: var(--primary-color);
  width: 50px;
  height: 50px;
  transition: 0.5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.social-media .icon-link:hover {
  color: #fff;
}

.social-media .icon-link i {
  margin: auto;
}

.social-media .icon-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}

.social-media .icon-link:hover::before {
  transform: scale(1);
}
.social-media .icon-item:nth-child(1) a:hover:before {
  background: var(--instgarm);
}
.social-media .icon-item:nth-child(2) a:hover:before {
  background: var(--facebook);
}
.social-media .icon-item:nth-child(3) a:hover:before {
  background: var(--github);
}
.social-media .icon-item:nth-child(4) a:hover:before {
  background: var(--youtube);
}
.social-media .icon-item:nth-child(5) a:hover:before {
  background: var(--linkedin);
}

.footer .copyright p .name {
  color: var(--primary-color);
}

/* ######### FOOD ITEMS PAGE STYLING ######### */

.food-items-page {
  color: var(--bg-color);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://source.unsplash.com/1600x900/?restaurants,food") no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 50vh;
}

.food-items-page h1 {
  font-size: 60px;
}

.item-page {
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
}

/* ######### LOGIN SIGNUP PAGE STYLING ######### */

.form .container {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: 0 auto 100px;
}
.form .container.active .card:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}
.form .container.active .card:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}
.form .container.active .card.alt {
  top: 20px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 60px 0 40px;
  overflow: hidden;
}
.form .container.active .card.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  transform: scale(10);
  transition: transform 0.3s ease;
}
.form .container.active .card.alt .toggle:before {
  content: "";
}
.form .container.active .card.alt .title,
.form .container.active .card.alt .input-container,
.form .container.active .card.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease;
}
.form .container.active .card.alt .title {
  transition-delay: 0.3s;
}
.form .container.active .card.alt .input-container {
  transition-delay: 0.4s;
}
.form .container.active .card.alt .input-container:nth-child(2) {
  transition-delay: 0.5s;
}
.form .container.active .card.alt .input-container:nth-child(3) {
  transition-delay: 0.6s;
}
.form .container.active .card.alt .button-container {
  transition-delay: 0.7s;
}

/* Card */
.form .card {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.3s ease;
}
.form .card:first-child {
  background: #fafafa;
  height: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
}
.form .card .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid var(--primary-color);
  margin: 0 0 35px;
  padding: 10px 0 10px 50px;
  color: var(--primary-color);
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
.form .card .input-container {
  position: relative;
  margin: 0 50px 25px;
}
.form .card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 60px;
  border: 0;
  color: #212121;
  font-size: 24px;
  font-weight: 400;
}
.form .card .input-container input:focus ~ label {
  color: var(--primary-color);
  transform: translate(-12%, -50%) scale(0.75);
}
.form .card .input-container input:focus ~ .bar:before,
.form .card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.form .card .input-container input:valid ~ label {
  color: var(--primary-color);
  transform: translate(-12%, -50%) scale(0.75);
}
.form .card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  transition: 0.2s ease;
}
.form .card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.form .card .input-container .bar:before,
.form .card .input-container .bar:after {
  content: "";
  position: absolute;
  background: var(--primary-color);
  width: 0;
  height: 2px;
  transition: 0.2s ease;
}
.form .card .input-container .bar:before {
  left: 50%;
}
.form .card .input-container .bar:after {
  right: 50%;
}
.form .card .button-container {
  margin: 0 60px;
  text-align: center;
}
.form .card .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid var(--primary-color);
  padding: 15px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.form .card .button-container button span {
  position: relative;
  z-index: 1;
  color: var(--primary-color);
  transition: 0.3s ease;
}
.form .card .button-container button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: var(--primary-color);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.form .card .button-container button:hover,
.form .card .button-container button:active,
.form .card .button-container button:focus {
  background-color: var(--primary-color);
}
.form .card .button-container button:hover span,
.form .card .button-container button:active span,
.form .card .button-container button:focus span {
  color: var(--bg-color);
}
.form .card .button-container button:active span,
.form .card .button-container button:focus span {
  color: #ffffff;
}
.form .card .button-container button:active:before,
.form .card .button-container button:focus:before {
  opacity: 1;
  transform: scale(10);
}
.form .card .footer {
  margin: 40px 0 0;
  color: #d3d3d3;
  background: transparent;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.form .card .footer a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  cursor: pointer;
}
.form .card .footer a:hover {
  color: var(--primary-color);
}

/* ######### RESPONSIVENESS ######### */

@media screen and (max-width: 1300px) {
  .food-items .items,
  .item-page {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 975px) {
  .food-items .items,
  .item-page {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 768px) {
  .intro-text h1 {
    font-size: 60px;
  }
  .intro-text p {
    font-size: 30px;
  }
  .about-section .image h2 {
    font-size: 45px;
  }
  .food-items .items,
  .item-page {
    grid-template-columns: auto;
  }
  .footer .container {
    flex-direction: column;
  }
  .footer .author .profile {
    flex-direction: column;
  }
  .footer .author .profile .profile-img {
    width: 100%;
  }
}
